.mod-banner{
    background: url('../images/background.jpg');
    position: relative;
    background-size: cover;
    text-align: center;
    height: 660px;
    h1{
        color:white;
    }
   
}
.banner-body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}