.banner{
    background: url('../images/background.jpg');
    position: relative;
    background-size: cover;
    text-align: center;
    height: 660px;
    h1{
        color:white;
    }
    .banner-title{
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
    }
    .scroll{
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }
}