#header {
  // @include position(fixed, 0, 0, null, 0, 9999);
  @extend %add-tr;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: transparent;
  &.pin-header {
    box-shadow: 2px 9px 18px -6px rgba(0, 0, 0, .22);
  }
  .container{
    // position: relative;
  }
}

#header-logo {
  @extend .navbar-brand;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top:10px;
  left: 50%;
  width: 100%;
  max-width: 200px;
  margin: 0;
}
nav{
  position: relative;
  top:0;
}
.icon-open{
  width: 50px;
  height: 50px;
  /* background:#fff; */
  position: absolute;
  top: 15px;
  left: 20px;
  cursor: pointer;
  display: none;
}
.showmenu{
  display: block;
  /* display: none; */
  // background-color: #4CAF50;
  // color: white;
}
.search-turtle{
  position: absolute;
  right: 15px;
}
.search-turtle-sm{
  display: none;
  color: #fff;
}
.search-frame{
  position: relative;
}
.search-icon{
  position: absolute;
  bottom: 25%;
  right: 20px;
}
@include media-breakpoint-up(md) {
  #header {
    .navbar {
      padding: 0 15px;
    }
  }
}

@include media-breakpoint-down(md) {
  html.is-open-menu,
  html.is-open-menu body {
    overflow: hidden;
    height: 100%;
  }
  html.is-open-menu {
    body {
      @include position(absolute, 0, 0, null, 0, null);
    }
    #header {
      bottom: 0;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width:890px){
  .icon-open{
      display: block;
      color:white;

  }
  .search-turtle{
    top:10px;
  }
  #header-logo{
      width:100%;
      max-width: 100%;
      position: absolute;
      display: flex;
    
      /* padding-top: 12px; 
      padding-bottom: 33px;  */
     
  }
  .main-menu-ul{
      width: 100%;
      max-width:100%;
      padding-top:20px;
      padding-left: 15px;
      text-align: left;
      
  }
  .main-menu-ul ul li{
      display: block;
      color:#fff;
      list-style: none;
      
  
  }
  .main-menu-ul a:hover{
      text-decoration: none;
      // background: yellowgreen;
      // text-decoration-color: red;
      // color:red;
      // line-height: 1.5px;
  }
  .showmenu{
      display: none;
  }
  .show{
      display: block;
  }
}
@media screen and (max-width:890px){
  .search-turtle{
    display: none;

  }
  .search-turtle-sm{
    display: initial;
    top: 15px;
    right: 20px;
    a{
      color:white;
    }
    a:hover{
      color:gray;
    }
  }
}