.mod-meettheteam{
    background-color:$green-100; 
}
.meettheteam-head{
    position: relative;
    padding-top: 35px;
    padding-bottom: 50px;
    h2{
        color:#207b20;
        &::after{
            background-color :#207b20;
        }
    }
    p{
    color: #2b9b2b;
    }
}
.meettheteam-body{
    padding-bottom: 60px;
    .row-edit{
        justify-content: center;
        @media (min-width: 992px) {
            .col-lg-2 {
                flex: 0 0 20%;
                max-width: 20%;
                }
        }
    }          
    .img-body{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 120%;
            display: block;
            right: 0;
            left: 0;
            width: 2px;
            margin: 0 auto;
            height: 78px;
            background-color: black;
            }
    }  
    .text-img{
        margin-top: 100px;  
        text-align: center;
        h3{
            color:white;
        }
        .logo{
            margin-top: 0px;
            &:hover{
            opacity: 1;
            background-color: white;
                a:hover{
                    text-decoration: none;
                }
            }
        }
    } 
}
.meettheteam-foot{
    background-color: $green-200;
    text-align: center;
}
.mod-meetteam-col{
    @extend .col-lg-2;
    @extend .col-md-4;
    @extend .col-6;
}