.mod-testimonials{
    background-color: white;
    .testimonials-head{
        padding-top: 40px;
        padding-bottom:0px;
        position: relative;
    }
    .testimonials-body{
        padding: 60px 0px;
        p{
            color:#444444;
        }
        .row{
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            img{
                display: initial;
            }
            .p1{
                margin: 0;
            }   
            .p2{
                color: #cccccc;
            }
        }
    }
}
.mod-testi-img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mod-testi-title{
    padding-left: 10px;
}
