.ourhappyclient{
    background-color: #f2f1f1;
    text-align: center;
    .ourhappyclient-content1{
        padding-top: 35px;
        padding-bottom: 60px;
    }
    .ourhappyclient-content2{
        padding-bottom: 65px;
    }
}