.ourlatestwork{
    background-color:$green-100;
    text-align: center;
    .ourlatestwork-content1{
      //  text-align: center;
      h2{
          color:#207b20;
      }
      h3{
          color: #2b9b2b;
      }
        padding-top: 40px;
        padding-bottom: 60px;
        .button-work{
            word-spacing: -4px;
            button{
                border: 1px solid #2b9b2b;
                background-color: white;
                color: #2b9b2b;
            }
            button:hover,button.active{
                color: white;
                background-color: #2b9b2b;
            }
            padding: 0;
            padding-top: 60px;
            #btn1{
            border-radius: 25px 0px 0px 25px;
             }
            #btn3{
            border-radius: 0px 25px 25px 0px;
            }
        }
    }
    .ourlatestwork-content2{
        
        .row-edit{
            justify-content: center;
            @media (min-width: 992px) {
                .col-lg-2 {
                    flex: 0 0 20%;
                    max-width: 20%;
                   
                }
            }
            img{
                margin: 15px 0px ;
                width: 100%;
                }   
        } 
        
        // .col-img{
        //    padding: 15px;
        //     max-width: 20%;
        // }
    }    

    .ourlatestwork-content3{
        padding-bottom: 15px;
    }
}